

.banner{
    position: absolute;
width: 525px;
height: 228px;
right: 845px;
top: 216px;


font-weight: 700;
font-size: 45px;
line-height: 35px;
text-align: right;   
}

.bannertext{
    position: absolute;
    width: 494px;
    height: 78px;
    right: 876px;
    top: 530px;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
}

.text{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1320px;
}
.textbanner{
    position: absolute;
    width: 200px;
    height: 190px;
    left:862px;
    top: 1180px;

    font-size: 20px;
}
.btn{
    position: absolute;
width:150px;
height: 70px;
left: 1110px;
top: 700px;
border: 100px;
border-radius: 10px;
font-size: medium;
font-weight: bold;
background-color: slateblue;
}
.photo{
    position: absolute;
width: 550px;
height: 700px;
left: 206px;
top: 939px;
}
.plan{
    position: absolute;
width: 1141px;
height: 299.96px;
left: 590px;
top: 1792.3px;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-weight: 900;
}
.Develop{
    position: absolute;
width: 1141px;
height: 299.96px;
left: 180px;
top: 1940px;
}
.lop{
    position: absolute;
    width: 2141px;
    height: 299.96px;
    left: 500px;
    top: 1940px;
}
.smoke{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 800px;
    top: 1940px;
}
.ment{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 1100px;
    top: 1940px;
}

.watch{
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 125px;
    top: 2216.3px;
}
.gradient{
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 125px;
    top: 2216.3px;
}
.mind{
    position: absolute;
    width: 1140px;
    height: 400px;
    left: 200px;
    top: 2270px;
    font-size: 26px;
    font-weight: 900;
}
.btn-roll{
    position: absolute;
width: 159px;
height: 82px;
left: 200px;
top: 2390px;
border-radius: 5px;
font-weight: 700;
   font-size: 20px;

}
.btn-call{
    position: absolute;
width: 160px;
height: 64px;
left: 1110px;
top: 578px;
color: blueviolet;
background: wheat;
border-radius: 5px;
font-weight: 700;
   font-size: 20px;
}
.btn-primary{
   color: crimson;
   font-weight: 700;
   font-size: 20px;
   border: 0;
   padding: 18px 35px;
   height: 64px;
   border-radius: 5px;
   background: darkorange;
}

.future{
    text-align: inline;
    left: 100px;

}
.footer{
    display: flex;
    gap: 150px;
    background: wheat;
    padding: 100px 170px;
    position: absolute;
    width: 1070px;
    height: 265px;
    left: 0px;
    top: 2609.21px;
    font-size: larger;
    font-weight: bold;
}